.tab-wrapper
{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.tab-btn
{
    position: relative;
    cursor: pointer;
    float: left;
    background: white;
    padding: 15px;
    border: 1px solid #BFC0C0;
    border-top: none;
    text-align: center;
    font-weight: bold;
}

.tab-btn#popular-btn
{
    border-left: none;
}

.tab-btn#newest-btn
{
    border-right: none;
}

.content-wrapper
{
    position: relative;
}

.tab-content
{
    position: relative;
    width: 100%;
    display: none;
}

.active
{
    background: #762C8E;
    color: white;
}

.btn-view-more
{
    text-decoration: none;
    color: black;
    font-size: 5.625vw;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5625vw;
    padding-left: 9.375vw;
    padding-right: 9.375vw;
    border-radius: 6.25vw;
    border: 2px solid #762C8E;
    margin-bottom: 10px;
}

.btn-view-more:active{
    background: #762C8E;
    color: white;
}