body
{
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    background: white;
}

.grid
{
    display: grid;
}

header
{
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 37px;
    justify-items: center;
    align-items: center;
    background: #2D3142;
}

.logo
{
    grid-column: 2/3;
    grid-row: 1/2;
}

.logo img
{
    position: relative;
    padding-top: 10px;
    height: 50px;
}

.cart
{
    grid-column: 3/4;
    grid-row: 1/2;
}

.cart a
{
    text-decoration: none;
    color: white;
}

.wrap
{
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/3;
}

.search-bar
{
    position: relative;
    width: 100%;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.4);
}

.search-term 
{
    position: relative;
    width: 90%;
    border: 3px solid #762C8E;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: white;
}

.search-term:focus
{
    color: #762C8E;
}
  
.search-btn
{
    position: absolute;  
    left: 90%;
    width: 10%;
    height: 36px;
    border: 1px solid #762C8E;
    background: #762C8E;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}