@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{outline: none}

body
{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    background: white;
}

header
{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 37px;
    justify-items: center;
    align-items: center;
    background: #2D3142;
}

.logo
{
    grid-column: 2/3;
    grid-row: 1/2;
}

.logo img
{
    position: relative;
    padding-top: 10px;
    height: 50px;
}

.cart
{
    width: 50px;
    height: 50px;
    grid-column: 3/4;
    grid-row: 1/2;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.cart div
{
    position: relative;
    font-size: 1.3em;
    line-height: 50px;
    text-align: center;
}

.cart:active
{
    background: #3E435B;
}

.login
{
    display: none;
    transition: 0.5s;
}

.login:hover
{
    background: #3E435B;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.4);
}

.login:active
{
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
}

.login-btn
{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;  
}

.login-btn i.fa.fa-user
{
    padding-right: 5px;
}

.body
{
    display: grid;
    grid-template-rows: calc(56.25vw + 27px) auto auto;
}

.spotlight
{
    grid-row: 2/3;
}

/*Tablet*/
@media screen and (min-width: 1024px)
{
    header
    {
        grid-template-columns: 200px auto 200px 70px;
    }

    .logo
    {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .cart
    {
        grid-column: 4/5;
        grid-row: 1/3;
        font-size: 1.5em;
    }

    .login
    {
        display: block;
        grid-column: 3/4;
        grid-row: 1/3;
    }
}