body
{
    background: #762C8E !important;
}

.eror-404
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.eror-404 div img
{
    width: 20vw;
}

.eror-404 div
{
    font-size: 25vw;
}