body
{
   margin: 0;
   padding: 0;
   text-align: center ;
   background: url(../images/feed_backwallpaper.jpg) ;
   background-size: cover ;
   background-position: center ;
   font-family: 'Noto Sans', sans-serif;
}

.contact-tittle
{
    margin-top: 15vw ;
    color: #fff ;
    text-transform: uppercase ;
    transition: all 4s ease-in-out ;
}

.contact-tittle h1 
{
    font-size: 15 wv ;
    line-height: 3vw ;
}

.contact-tittle h2
{
    font-size: 4.5vw ;

}

form
{
    margin-top: 10vw ;
    transition: all 4s ease-in-out ;
}

.form-control
{
    width: 80vw ;
    background: transparent ;
    border: none ;
    outline: none ;
    border-bottom: 0.5vw solid white ;
    font-size: 5vw ;
    margin-bottom: 15vw ;

}

input 
{
    height: 10vw;
}

form .submit
{
    background: #ff5722 ;
    border-color: transparent ;
    color : #fff ;
    font-size: 8vw ;
    font-weight: bold ;
    letter-spacing: 1vw ;
    height: 15vw;
    margin-top: 10vw ;
}

form .submit :hover
{
    background-color: #f44336 ;
    cursor: pointer ;
}

@media screen and (min-width :1024px)
{
    .contact-tittle
    {
        margin-top: 100px ;
    }
    .contact-tittle h1
    {
        font-size: 32px ;
        line-height: 10px ;
    }
    .contact-tittle h2
    {
        font-size: 16px ;
    }
    form 
    {
        margin-top: 50px ;
    }
    .form-control
    {
        width: 600px ;     
        border-bottom: 1px solid gray ;
        font-size: 18px ;
        margin-bottom: 16px ;
    }
    input 
    {
        height: 45px;
    }
    form .submit
    {
        font-size: 20px ;
        letter-spacing: 2px ;
        height: 50px;
        margin-top: 20px ;
    }
}